.home-container {
  width: 100%;
  display: flex;
  z-index: 100;
  overflow: auto;
  box-shadow: 5px 5px 10px 0px #000000;
  min-height: 100vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container01 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
}
.home-container02 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
}
.home-container03 {
  width: 100%;
  height: 995px;
  display: flex;
  align-items: center;
  background-size: cover;
  justify-content: center;
  background-image: url('https://images.unsplash.com/photo-1542751371-adc38448a05e?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fGdhbWluZ3xlbnwwfHx8fDE2NTE5NzQ3MjY&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.home-container04 {
  flex: 0 0 auto;
  width: auto;
  height: 238px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container05 {
  flex: 0 0 auto;
  width: auto;
  height: 238px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.home-container06 {
  flex: 0 0 auto;
  width: 200px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container07 {
  width: 200px;
  height: 238px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text {
  color: var(--dl-color-gray-900);
}
.home-link {
  text-decoration: none;
}
.home-link1 {
  text-decoration: none;
}
.home-link2 {
  text-decoration: none;
}
.home-link3 {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #ffffff;
}
.home-container08 {
  flex: 0 0 auto;
  width: 200px;
  height: 182px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text1 {
  color: var(--dl-color-gray-900);
}
.home-link4 {
  text-decoration: none;
}
.home-link5 {
  text-decoration: none;
}
.home-container09 {
  flex: 0 0 auto;
  width: 200px;
  height: 168px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-text2 {
  color: var(--dl-color-gray-900);
}
.home-link6 {
  text-decoration: none;
}
.home-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&h=1200');
  background-position: center;
}
.home-text3 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text4 {
  max-width: var(--dl-size-size-maxwidth);
  text-align: center;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-container10 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-textinput {
  font-size: 0.75rem;
  border-color: var(--dl-color-gray-500);
}
.home-button1 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-black);
}
.home-button1:hover {
  color: var(--dl-color-gray-black);
  background-color: transparent;
}
@media(max-width: 991px) {
  .home-text4 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .home-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-text4 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .home-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home-container10 {
    align-items: center;
    flex-direction: column;
  }
  .home-button1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
}
