.sticky-nav {
position: -webkit-sticky; position: sticky; top: px; z-index: 1; padding: 2px; background-color: #F4F4F4;
.nav-grid {
display: -ms-grid; display: grid; width: 100%; margin: @px; padding: epx; -webkit-box-pack: start; -webkit-justify-content: flex-start;
  -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -webkit-align-items: center; -ns-flex-align: center; align-items: center; grid-auto-flow: column grid-auto-columns: -webkit-max-content; grid-auto-columns : max-content; grid-column-gap: 20px; grid-row-gap: 20px; -As-grid-columns: 1fr -webkit-max-content -webkit-max-content -webkit-max-content -ms-grid-columns: lfr max-content max-content max-content; grid-template-columns: ifr -webkit-max-content -webkit-max-content -webkit-max-content; grid-template-columns: lfr max-content max-content max-content; -s-grid-rows: auto; grid-template-rows: auto;
  .nav-logo-link {
display: block; height: 6px; margin-right: @px; margin-left: @px; padding: Opx;
.nav-logo
width: auto; height: 100%; -o-object-fit: contain; object-fit: contain; -o-object-position: ex 5ex; object-position: ex sex;
    .nav-link {
display: block; margin-right: @px; margin-left: @px; padding: 1px @px; color: #444; text-decoration: none;
.nav-link:hover {
text-decoration: underline;
Quedia screen and (max-width: 767px) {
.sticky-nav {
  position: relative;
.nav-grid {
text-align: center;
@nedia screen and (max-width: 479px) { .sticky-nav {
padding: @px;
.nav-grid { grid-auto-flow: row; grid-column-gap: 6px; grid-row-gap: @px;
  -ms-grid-columns: ifr; grid-template-columns: lfr; -ms-grid-rows: 188px; grid-template-rows: 18px;
.nav-logo-link {
border-top: 1px solid #c4c4c4;
.nav-link {
padding-top: 10px; padding-bottom: 10px; border-top: 1px solid #040404;
